[Unit]
Description=Log Monitor Service for logmonitor
After=network.target

[Service]
Type=simple
User=logmonitor
Group=adm
ExecStart=/usr/local/bin/log_monitor.sh
Restart=on-failure
RestartSec=5
WorkingDirectory=/var/logs/logmonitor
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
